.home-page{
    margin-top: 50px;
}

.profile-img{
    border-radius: 40%;
    height: 80px;
}

.profile-Name{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #d89a4a;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.82813rem;
}

.social-icon{
    display: flex;
    margin: 5px;    
    margin-top: 5%;
}
.social-icon a{
    padding: 7px;
}
.social-icon a:hover img{
    transition: all 0.5s;
}

.pages {
    cursor: pointer;
}

.pages :hover{
    color: blue;
    /* background-color: aqua; */
    text-decoration: underline;
}

